<div class="navbar-area">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
           <a class="navbar-brand" href="#">
            <h1>Inba</h1>
           </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbtn1" href="#">
                      Doctors
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Denticts</a></li>
                      <li><a class="dropdown-item" href="#">Doctors</a></li>
                      <li><a class="dropdown-item" href="#">Doctor Details</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbtn2" href="#">
                      Pages
                    </a>
                    <ul class="dropdown-menu2">
                      <li><a class="dropdown-item" href="#">Booking</a></li>
                      <li><a class="dropdown-item" href="#">Pricing</a></li>
                      <li><a class="dropdown-item" href="#">Testimonials</a></li>
                      <li><a class="dropdown-item" href="#">Portfolio</a></li>
                      <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
                      <li><a class="dropdown-item" href="#">Login</a></li>
                      <li><a class="dropdown-item" href="#">Register</a></li>
                      <li><a class="dropdown-item" href="#">404 Page</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbtn3" href="#">
                      Blog
                    </a>
                    <ul class="dropdown-menu3">
                      <li><a class="dropdown-item" href="#">Blog</a></li>
                      <li><a class="dropdown-item" href="#">Blog Details</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                </ul>
                <div class="others-option d-flex align-items-center">
                  <div class="option-item">
                    <div class="search-btn">
                      <i class='bx bx-search'></i>
                    </div>
                  </div>
                  <div class="option-item">
                    <a href="#" class="default-btn"> Book An Appointment </a>
                  </div>
                </div>
              </div>
            
          </nav>
    </div>
</div>