<div class="page-banner-area ptb-100 four" style="background-image: url(../../assets/images/page-title4.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>Service Details</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    Service details
                </li>
            </div>
        </div>
    </div>
</div>

<div class="service-details-area ptb-100">
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</div>
