<app-slider></app-slider>

<div class="features-area pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features bg-f57e57">
                    <div class="content">
                        <div class="icon">
                            <i class="fa-solid fa-wheelchair-move"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details"> New Technology </a>
                        </h3>
                        <p>Proin gravida nibh velit auctor aliquet aenean.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features bg-f57e57">
                    <div class="content">
                        <div class="icon">
                            <i class="fa-solid fa-heart-circle-check"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details"> Accept Insurance </a>
                        </h3>
                        <p>Proin gravida nibh velit auctor aliquet aenean.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features bg-f57e57">
                    <div class="content">
                        <div class="icon">
                            <i class="fa-solid fa-user-doctor"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details"> Certified Dentist </a>
                        </h3>
                        <p>Proin gravida nibh velit auctor aliquet aenean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services-area pb-75">
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class='bx bx-hash'></i>
                Our Best Dental Services 
            </span>
            <h2>Enjoy Specialized Care Through Precision, Artistry, and Experience</h2>
            <a routerLink="/services" class="default-btn">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="../../assets/images/services-1.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/services-details"> General Dentistry </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="../../assets/images/services-2.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/services-details">Cosmetic Dentistry</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="../../assets/images/services-3.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/services-details">Dental Implants</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="../../assets/images/services-4.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/services-details">Orthodontics</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="../../assets/images/services-5.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/services-details">Teeth Whitening</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="../../assets/images/services-6.jpg">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/services-details">Teeth Cleaning</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
                           sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overview-area bg-f5f5f5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="overview-content">
                    <span class="sub-title">
                        <i class='bx bx-hash'></i>
                        We Care For Every Patient 
                    </span>
                    <h3>Nervous Troubled Attractive Staring Right Anxiously!</h3>
                    <p>
                        Contact Us Today 
                        <a href="#">+088 123 654 987</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="overview-image">
                    <img src="../../assets/images/overview.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="appointment-overview-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12"></div>
            <div class="col-lg-8 col-md-12"></div>
        </div>
    </div>
</div>